html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

.artboard {
    background-color: #fafafa;
    width: 100%;
    padding: 0 20px;
    border: 1px solid lightgray;
   
}

.traveler img {
    width: calc(100% - 150px);
    height: auto;
    margin-top: 60px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 40px;
}

h1 {
    font-size: 28px;
    font-weight: medium;
    color: black;
    text-align: center;
    margin:0;
    padding:0;
}
h1::after {
    content:"";
    display:block;
    width:60px;
    height: 2px;
    background-color: #407bff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-family: Montserrat light;
    font-size: 16px;
    color: #8b8b8b;
    text-align: center;
    padding: 5px 0;
}

.tlacitko {
    display: block;
    font-size: 14px;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
    background-color:#407bff;
    border: 0;
    padding: 10px 30px 10px 30px;
}

.beach {
    background-color: #8b8b8b;
    margin-top: 11px;
}

h2 {
    font-size: 16px;
    font-weight: medium;
    color: black;
    text-align: center;
    margin-top:70px;
    padding:0;
}

.map_icon {
    color: #407bff;
    text-align: left;
}


.box-with-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 4px 6px #407bff17;
}


.box-with-icon p {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: lighter;
    text-align: right;
    color: #8b8b8b ;
}
.box-with-icon svg {
    margin-left: 5px;
    margin-right: 10px;
}


@media screen and (min-width: 640px) {

   .box-with-icon svg {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .box-with-icon p {
        text-align: center;
        margin-left: 0;
    }

    .tlacitka {
        display: flex;
        justify-content: center;
    }

    .tlacitko {
        margin: 0;
    }

    .adventure {
        margin-right: 20px;
    }

    .boxes {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .box-with-icon {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .button {
        display: flex;
    }

    .svg {
        flex: 1 1 calc(100% / 3);
    }
}

@media screen and (min-width: 1100px) {
   
.traveler-combo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    }
.traveler {
    grid-column-start: 2;
    grid-row-start: 1;
    

}
.traveler-text {
    grid-column-start: 1;
    grid-row-start: 1;
}

.ck-sluzby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
    justify-items: center;
}
.ck-sluzby-text {
    grid-column-start: 2;
    align-items: center;
    justify-items: center;
}

.boxes-ck-sluzby {
    grid-column-start: 1;
    align-items: center;
    justify-items: center;
}
   
.sluzby-delegata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    }

.sluzby-delegata-text {
    grid-column-start: 1;
}
.boxes-sluzby-delegata {
    grid-column-start: 2;
}
